* {
  margin: 0;
  padding: 0;
}

/* Pseudoclases */
.button {
  margin: 200px;
  background: #fc9b9b;
  border: 0;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

/* hover: aplica estilos cuando el usuario pasa el cursor por encima */
.button:hover {
  background: green;
  border-radius: 50%;
}

/* active: cuando el usuario activa un elemento, ej: clickear un boton */
.button:active {
  background: blue;
  border: 5px solid green;
}

/* focus: se aplican estilos cuando un elemento esta enfocado, ej: input */
.input {
  background: #fc9b9b;
  border: 0;
  outline: 0;
}

/* selecciona el placeholder */
.input::placeholder {
  color: red;
}

.input:focus {
  background: green;
}

.lista {
  list-style: none;
}

/* selecciona el primer elemento hijo li de lista */
.lista > li:first-child {
  background: red;
}

/* selecciona el ultimo elemento hijo li de lista */
.lista > li:last-child {
  background: green;
}

/* nth-child */
.lista > li:nth-child(10) {
  background: orange;
}

/* elementos impares */
.lista > li:nth-child(odd) {
  background: yellow;
}

/* elementos pares */
.lista > li:nth-child(even) {
  background: blue;
}
